Repository bytememiles/chess-board: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Refactor Husky hooks to streamline pre-commit and pre-push scripts
  .husky/pre-commit
  .husky/pre-push
Due: none

Add chess pieces and icons, enhance chessboard component
  src/assets/icons/scalable/Chess.svg
  src/assets/icons/symbolic/Chess-symbolic.svg
  src/assets/pieces/blackBishop.svg
  src/assets/pieces/blackKing.svg
  src/assets/pieces/blackKnight.svg
  src/assets/pieces/blackPawn.svg
  src/assets/pieces/blackQueen.svg
  src/assets/pieces/blackRook.svg
  src/assets/pieces/whiteBishop.svg
  src/assets/pieces/whiteKing.svg
  src/assets/pieces/whiteKnight.svg
  src/assets/pieces/whitePawn.svg
  src/assets/pieces/whiteQueen.svg
  src/assets/pieces/whiteRook.svg
  src/components/ChessPiece.vue
  src/components/Chessboard.vue
  src/components/Square.vue
  src/composables/useChessboard.ts
  src/stores/chessStore.ts
  src/types/chess.ts
  src/utils/pieceHelpers.ts
Due: eslint --fix, prettier --write

Enhance drag-and-drop functionality in Square component
  src/components/Square.vue
  src/composables/useChessboard.ts
Due: eslint --fix, prettier --write

Implement comprehensive move validation and history tracking in chess application
  src/components/Square.vue
  src/composables/useChessboard.ts
  src/stores/chessStore.ts
  src/types/chess.ts
  src/utils/moveValidation.ts
Due: eslint --fix, prettier --write

Enhance Square component and chess store for last move tracking
  src/components/Square.vue
  src/stores/chessStore.ts
Due: eslint --fix, prettier --write

Refactor App and Sidebar components for improved layout and move history display
  src/App.vue
  src/components/ChessPiece.vue
  src/components/Chessboard.vue
  src/components/Sidebar.vue
  src/components/Square.vue
  src/composables/useChessboard.ts
  src/composables/useLocalStorage.ts
  src/stores/chessStore.ts
  src/style.css
  src/types/chess.ts
  src/utils/moveFormatting.ts
  src/utils/moveValidation.ts
Due: eslint --fix, prettier --write

Update favicon and link reference in index.html
  index.html
  public/favicon.svg
Due: none

Update download filename in Sidebar component from 'game.pgn' to 'game.log'
  src/components/Sidebar.vue
Due: eslint --fix, prettier --write

Update project details and enhance documentation for chess board application
  LICENSE
  README.md
  index.html
  package.json
  screenshots/chess_board-mobile.png
  screenshots/chess_board-tablet.png
  screenshots/chess_board.png
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.{json,css,scss,md})
